<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YelpCamp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
                viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="height: 40px; width: 40px;">
                <polygon points="50,55.425 68.618,81.453 95,81.453 50,18.547 5,81.453 31.381,81.453 "></polygon>
            </svg>
            YelpCamp
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto"">
                <li class="nav-item"><a class="nav-link" href="/">Login </a></li>
                <li class="nav-item"><a class="nav-link" href="/">Sign Up </a></li>
                <li class="nav-item"><a class="nav-link" href="/">Logout </a></li>
            </ul>
        </div>
    </nav>